@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  // background-color: darkseagreen;

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

    // background-color: chocolate;

    .info-item {
      font-size: 16px;
      font-weight: 600;
    }

    .mode-container {
      display: flex;
      flex-direction: column;

      .info-item {
        margin-bottom: 20px;
      }

      // background-color: darkkhaki;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        gap: 5px;

        li {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: normal;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 600;
          width: 100%;
          height: 30px;

          input {
            display: flex;
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            background-color: transparent;
            border-radius: 20px;
            border: 1px solid $primary-color;

            &:checked {
              background-color: $blur-primary-color;
            }
          }
        }
      }

      .time-container {
        // background-color: aqua;

        display: flex;
        justify-content: center;
        font-family: 'Open Sans';
        font-size: 28px;
        font-weight: 400;
      }

      .map {
        min-height: 200px;
      }

      .address-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    .contact-container {
      display: flex;
      justify-content: space-between;
      line-height: 18px;
    }

    .contact-value {
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 400;
    }
  }
}
