@import 'variables';

.wrapper {

  display: flex;
  flex-direction: column;
  // background-color: aquamarine;

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    font-size: 18px;
    font-weight: 700;

    // background-color: yellow;

    a {
      font-size: 14px;
      font-weight: 700;
      color: $text-color-secondary;
      text-decoration: none;
    }
  }

  .top-section-container {
    display: flex;
    margin-top: 15px;

    // background-color: blueviolet;

    .section {
      display: flex;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $black;

        .img-container {
          height: 130px;

          img {
            object-fit: cover;

            border-radius: 5px;
            height: 100%;
            width: 100%;
          }
        }

        .section-name {
          font-size: 15px;
          font-weight: 600;
          margin: 10px 0;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .wrapper {
    .top-section-container {
      overflow-x: scroll;

      // background-color: yellow;

      .section {
        flex: 0 0 200px;
      }
    }
  }
}

