<div class="wrapper">
  <div class="header-container">
    <div>{{ 'HOME.SECTIONS' | translate }}</div>
    <a [routerLink]="['sections']">{{ 'HOME.ALL_SECTIONS' | translate }}</a>
  </div>
  <div class="top-section-container">
    <div class="section" *ngFor="let section of topSections">
      <a [routerLink]="['/home/search/section']" [queryParams]="{ id: section?.id }">
        <div class="img-container">
          <img [src]="imageService.getImage(section?.imageFileName)" alt="poster">
        </div>
        <div class="section-name">{{ section.name }}</div>
      </a>
    </div>
  </div>
</div>
