<div class="wrapper">
  <lib-title [title]="'SERVICES.QUESTION.TITLE'"></lib-title>
  <form [formGroup]="questionFormGroup" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="textarea-container">
      <lib-textarea [id]="'question'" [placeholder]="'SERVICES.QUESTION.PLACEHOLDER' | translate"
        [maxlength]="maxLength" [hasOnInputEvent]="true" [error]="isInvalid('question')" formControlName="question"
        required>
      </lib-textarea>
      <label class="errors-label"
        [ngStyle]="{'visibility': isSubmitClicked && questionFormGroup.get('question').errors?.required === true ? 'visible' : 'hidden' }">{{
        'INVALID_FIELD' | translate }}</label>
    </div>

    <div class="form-group btn-container">
      <button mat-button type="submit" class="main-btn-primary">{{ 'SERVICES.QUESTION.SEND' | translate }}</button>
    </div>
  </form>
</div>
