<div class="router-wrapper">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<div class="footer">
  <a [routerLink]="['main']" class="home" routerLinkActive="active-link">
    <img src="assets/images/footer-icons/home.svg" alt="home"></a>
  <a [routerLink]="['services']" class="services" routerLinkActive="active-link">
    <img src="assets/images/footer-icons/services.svg" alt="services"></a>
  <a [routerLink]="['search']" class="search" routerLinkActive="active-link">
    <img src="assets/images/footer-icons/search.svg" alt="search"></a>
  <a [routerLink]="['profile']" class="profile" routerLinkActive="active-link">
    <img src="assets/images/footer-icons/profile.svg" alt="profile"></a>
</div>
