<div class="wrapper">
  <div class="top-container">
    <a [routerLink]="['/home/profile/udks']"><img src="assets/images/profile/arrow.svg" alt="arrow"></a>
    <div class="id">{{ 'PROFILE.UDK.ID' | translate }}{{ udk?.id }}</div>
  </div>
  <div class="content-container">
    <div class="dialog-container">
      <div class="request-container"
        [ngStyle]="{'align-self': isAdmin ? 'flex-start' : 'flex-end', 'background': isAdmin ? 'url(\'/assets/images/profile/question-left-tail.svg\') 0 0/100% 100% no-repeat' : 'url(\'/assets/images/profile/question-right-tail.svg\') 0 0/100% 100% no-repeat' }">
        <div class="title">{{ udk?.title }}</div>
        <div class="annotation">{{ udk?.annotation }}</div>
      </div>
      <div *ngIf="udk?.udk" class="answer-container"
        [ngStyle]="{'align-self': isAdmin ? 'flex-end' : 'flex-start', 'background': isAdmin ? 'url(\'/assets/images/profile/answer-right-tail-fixed.svg\') 0 0/100% 100% no-repeat' : 'url(\'/assets/images/profile/answer-left-tail.svg\') 0 0/100% 100% no-repeat' }">
        <div class="text">{{ 'PROFILE.UDK.SUCCESS' | translate }}</div>
        <div class="udk">{{ udk?.udk }}</div>
      </div>
    </div>

    <form *ngIf="isAdmin && !udk?.udk" class="form" [formGroup]="answerFormGroup" autocomplete="off">
      <lib-input [id]="'answer'" [type]="'text'" [placeholder]="'PROFILE.MESSAGE' | translate" [hasOnInputEvent]="true"
        formControlName="answer" [maxlength]="250" required>
      </lib-input>
      <label class="errors-label" *ngIf="isSubmitClicked && answerFormGroup.get('answer').errors?.required">{{
        'INVALID_FIELD' | translate }}</label>
    </form>
  </div>
</div>
